*{
    padding: 0;
    margin: 0;
}
.navbar{
    /* width: 100%;
    height: 11vh; */
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 19px 80px;
}

.navbar .logo{
    
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
     text-align: center;
}
.navbar cv_item{
    text-align: center;
    font-weight: 400;
    border: 1px grey;
}
.container{
    width: 100%; 
    height: 90vh;
     border: 1px solid gray;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-image: url("./assets/Hero-bg.png");
}
.container .banner_main_content{
   margin: 0 auto;
   padding: 70px 300px;
   /* text-align: center;
   justify-content: center; */
   display: flex;

}

.banner_img{
    width: 230px;
}

.banner_heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bolder;
}

.banner_content{
       font-family: 'Courier New', Courier, monospace;
}
.banner_btn{
      padding: 10px 5px;
      border: 1px solid rgb(255, 255, 255);
      background-color: rgb(0, 0, 0);
      color: aliceblue;
}




