*{
    padding: 0;
    margin: 0;
}
.navbar{
    /* width: 100%;
    height: 11vh; */
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 19px 80px;
}

.navbar .logo{
    
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
     text-align: center;
}
.navbar cv_item{
    text-align: center;
    font-weight: 400;
    border: 1px grey;
}
.container{
    width: 100%; 
    height: 81vh;
     border: 1px solid gray;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-image: url("./assets/Hero-bg.png");
}
.container .banner_main_content{
  
   margin: 0 auto;
   text-align: center;
   /* padding: 70px 300px; */

    /* text-align: center;
   justify-content: center; 
   display: flex; */

}

.banner_img{
    padding-top: 30px;
}

content .banner_img{
    width: 330px;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
   
}

.banner_heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bolder;
    padding: 14px 0;
}

.banner_content{
       font-family: 'Courier New', Courier, monospace;
}
.banner_btn{
      padding: 10px 5px;
      border: 1px solid rgb(255, 255, 255);
      background-color: rgb(0, 0, 0);
      color: aliceblue;
      margin: 15px 0;
}

.web .web_heading{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    margin: 15px 0;
}
.web_pra{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}
.web{
    /* justify-content: center;
    align-items: center; */
    margin: 30px auto;
    
    text-align: center;
}

.code{
    display: flex;
    justify-content: space-around;
}

/* .code_item{
    text-align: center;
    margin-top: 0 auto;
} */
 .code_head, .skill_head .target_head{
    margin-top: 50px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 34px;
 }

 .code_pra, .skill_pera .target_pra{
    margin-top: 10px;
    font-size: 13px;
 }
 .code_btn, .skill_btn{
    padding: 8px 15px;
    border: 1px solid black;
    margin-top: 15px ;
    background-color: rgba(250, 235, 215, 0.811);
    color: black;

 }
 .skill{
    display: flex;
    justify-content: space-around;
    text-align: left;
    padding: 18px 0;
    /* align-items: center; */
}
.target_container{
 
    /* display: flex;
    justify-content: space-around; */
    margin: 0 auto;
    text-align: center;
}
.target_head{
    margin: 15px 0;
}
.target_pra{
    margin-bottom: 15px;
}
.target_img{
    margin-top: 20px;
}
.support{
    background-image: url("./assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position :center;
    height: 300px;
     width:100%;
    /* height:40vh  */
    /* padding: 20px 0; */
    /* display: flex; */
    /* margin: 0 auto; */
    margin-top: 30px;
}
.footer_head, .footer_pra{
    color: rgba(245, 245, 245, 0.952);
}
.footer_main{
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    /* justify-content: center; */
    /* align-items: center; */
}
.footer_head{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: 600;
    /* line-height: 1%; */

}
.footer_pra{
    font-size: 11px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input, .footer_btn{
    padding: 10px 19px;
    border-radius: 6px;
    border: 1px solid rgb(147, 92, 198);
    margin-top: 10px;
    box-shadow: 2 px ;
}

.foot_content{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 12px;
    font-style: italic;
    font-weight: 500;
}
.last_footer_item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}










